@keyframes bubbleLoad {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

#a-close {
    background: #F9D923;
}

#a-title {
    color: #F9D923;
}

.about-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    gap: 30px;
}

.about-left {
    height: 100%;
    width: 38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headshot-frame {
    background: url("../../resources/headshot.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position-y: -20px;
    width: 38vw;
    max-height: 100%;
    height: 300px;
    border-radius: 15px;
    border: 4px solid #2C2C2C;
    box-shadow: 0 0 6px #2C2C2C;
    transition: transform .25s;
    animation: 0.75s ease-out bubbleLoad;
}

@media screen and (max-width: 1137px) {
    .headshot-frame {
        background-position-y: 0px;
    }
}

.headshot-frame:hover {
    transform: scale(1.02);
}

.education {
    width: 38vw;
    height: 150px;
    border-radius: 15px;
    border: 4px solid #2C2C2C;
    box-shadow: 0 0 6px #2C2C2C;
    background: #FFFFFF;
    transition: transform .25s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: 0.75s ease-out bubbleLoad;
}

.education:hover {
    transform: scale(1.02);
}

.edu-title {
    color: #2C2C2C;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: -0.04em;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 2.8rem;
}

.edu-lower {
    color: #2C2C2C;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: -0.04em;
    margin: 0;
    margin-left: 12px;
}

.experience {
    width: 38vw;
    height: 488px;
    border-radius: 15px;
    border: 4px solid #2C2C2C;
    box-shadow: 0 0 6px #2C2C2C;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    animation: 0.75s ease-out bubbleLoad;
}

.exp-title {
    color: #2C2C2C;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: -0.04em;
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
}

.exp-line-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-line {
    width: 24px;
    height: 350px;
    background: #F9D923;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.exp-dots {
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.dot {
    width: 16px;
    height: 16px;
    margin-left: -22px;
    margin-top: 34px;
    background: #2C2C2C;
    border: 2px solid #B3B3B3;
    border-radius: 50%;
}

#oned {
    animation: 2s ease-out expOneIn;
}

#twod {
    animation: 3s ease-out expTwoIn;
}

#threed {
    animation: 4s ease-out expThreeIn;
}

#fourd {
    animation: 5s ease-out expFourIn;
}