@keyframes pagesLoadIn {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}

@keyframes pagesLoadOut {
    from {
        margin-top: 0%;
    }

    to {
        margin-top: 100%;
    }
}

.subpage {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 108px - 6px);
    top: 108px;
    z-index: 2;
    background: #DEDEDE;
    border: 3px solid #2C2C2C;
    /* border-bottom: none; */
    border-radius: 15px 15px 0px 0px;
    animation: pagesLoadIn 0.25s;
}

.close {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid #2C2C2C;
    border-radius: 13px;
    margin-top: 5px;
    margin-left: 5px;
    transition: transform .25s;
}

#p-close {
    background: #EB5353;
}

.close:hover {
    transform: scale(1.1);
}

.title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -0.04em;
    -webkit-text-stroke: 2px #2C2C2C;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: 10px;
    margin-top: -7px;
}

#p-title {
    color: #EB5353;
}

.x {
    position: absolute;
    top: -0.5px;
    left: 15px;
    width: 4px;
    height: 35px;
    background: #2C2C2C;
    transform: rotate(45deg);
    border-radius: 15px;
}

#right {
    transform: rotate(-45deg);
}

@media screen and (max-width: 620px) { 
    .subpage {
        top: 53px;
        height: calc(100% - 53px - 6px);
    }

    .title {
        font-size: 42px;
        margin-top: -12px;
    }
}