.bhl {
    position: absolute;
    width: 396px;
    height: 24px;
    left: 132px;
    top: 588px;
    background: #187498;
    border-radius: 30px 0px 30px 30px;
    animation: 0.75s ease-out slideInFromBot;
}

.bvl {
    position: absolute;
    height: 159px;
    width: 24px;
    left: 504px;
    top: 444px;
    background: #187498;
    border-radius: 30px 0px 30px 30px;
    animation: 0.75s ease-out slideInFromLeft;
}

.bhm {
    position: absolute;
    width: 480px;
    height: 24px;
    left: 504px;
    top: 444px;
    background: #187498;
    border-radius: 30px 30px 0px 0px;
    animation: 0.75s ease-out slideInFromBot;
}

.bvr {
    position: absolute;
    height: 120px;
    width: 24px;
    left: 960px;
    top: 444px;
    background: #187498;
    border-radius: 0 15px;
    animation: 0.75s ease-out slideInFromRight;
}

.bhr {
    position: absolute;
    width: 156px;
    height: 24px;
    left: 960px;
    top: 540px;
    background: #187498;
    border-radius: 0px 15px;
    animation: 0.75s ease-out slideInFromBot;
}

.bdr {
    position: absolute;
    width: 253.59px;
    height: 24px;
    left: 1058px;
    top: 622px;
    background: #187498;
    border-radius: 30px 0px 30px 30px;
    transform: rotate(-135deg);
    animation: 0.75s ease-out slideInFromBotRight;
}

#blue-btn {
    rotate: 135deg;
    position: relative;
    top: 2px;
    left: 2px;
}

#blue-txt {
    margin: 0;
    top: -9px;
    padding: 0;
}

@media screen and (max-height: 785px) {
    .bhl {
        top: 540px
    }

    .bvl {
        height: 120px;
    }

    .bdr {
        width: 120px;
        top: 574px;
        left: 1077px;
    }
}

@media screen and (max-width: 620px) {
    .bhl {
        width: 96px;
        height: 12px;
        left: 12px;
        top: 441px;
    }

    .bvl {
        height: 150px;
        width: 12px;
        left: 96px;
        top: 297px;
    }

    .bhm {
        width: 168px;
        height: 12px;
        left: 96px;
        top: 297px;
    }

    .bvr {
        height: 115px;
        width: 12px;
        left: 252px;
        top: 297px;
        border-radius: 0px 7px;
    }

    .bhr {
        height: 0px;
        width: 0px;
    }

    .bdr {
        width: 129.62px;
        height: 11.77px;
        left: 235px;
        top: 442px;
        border-radius: 30px 30px;
    }

    #blue-btn {
        left: 1px;
        top: 0.5px;
    }
}