.bhl {
    position: absolute;
    width: 396px;
    height: 24px;
    left: 132px;
    top: 588px;
    background: #187498;
    border-radius: 30px 0px 30px 30px;
}

.bvl {
    position: absolute;
    height: 159px;
    width: 24px;
    left: 504px;
    top: 444px;
    background: #187498;
    border-radius: 30px 0px 30px 30px;
}

.bhm {
    position: absolute;
    width: 480px;
    height: 24px;
    left: 504px;
    top: 444px;
    background: #187498;
    border-radius: 30px 30px 0px 0px;
}

.bvr {
    position: absolute;
    height: 120px;
    width: 24px;
    left: 960px;
    top: 444px;
    background: #187498;
    border-radius: 0 15px;
}

.bhr {
    position: absolute;
    width: 156px;
    height: 24px;
    left: 960px;
    top: 540px;
    background: #187498;
    border-radius: 0px 15px;
}

.bdr {
    position: absolute;
    width: 253.59px;
    height: 24px;
    left: 1058px;
    top: 622px;
    background: #187498;
    border-radius: 30px 0px 30px 30px;
    transform: rotate(-135deg);
}

#blue-btn {
    transform: rotate(135deg);
}