@keyframes slideInFromBotRight {
    from {
        margin-top: 10%;
        margin-left: 10%;
        opacity: 30%;
    }

    to {
        margin-top: 0%;
        margin-left: 0%;
        opacity: 100%;
    }
}

.glv {
    position: absolute;
    height: 330px;
    width: 24px;
    left: 240px;
    top: 425px;
    background: #36AE7C;
    border-radius: 30px 0px 30px 30px;
    animation: 0.75s ease-out slideInFromLeft;
}

.gmh {
    position: absolute;
    width: 852px;
    height: 24px;
    left: 240px;
    top: 420px;
    background: #36AE7C;
    border-radius: 15px 15px 0px 0px;
    animation: 0.75s ease-out slideInFromTop;
}

.gdr {
    position: absolute;
    width: 119.65px;
    height: 24px;
    left: 1055px;
    top: 449px;
    background: #36AE7C;
    border-radius: 30px 0px;
    transform: rotate(-135deg);
    animation: 0.75s ease-out slideInFromBotRight;
}

.ghr {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 1137px;
    top: 478px;
    background: #36AE7C;
    border-radius: 0px 30px 30px 30px;
    animation: 0.75s ease-out slideInFromTop;
}

#green-btn {
    top: 307px;
}

#test {
    margin: 0;
    top: -9px;
}

@media screen and (max-width: 620px) {
    
}