@keyframes slideInFromBotRight {
    from {
        margin-top: 10%;
        margin-left: 10%;
        opacity: 30%;
    }

    to {
        margin-top: 0%;
        margin-left: 0%;
        opacity: 100%;
    }
}

.glv {
    position: absolute;
    height: 330px;
    width: 24px;
    left: 240px;
    top: 425px;
    background: #36AE7C;
    border-radius: 30px 0px 30px 30px;
    animation: 0.75s ease-out slideInFromLeft;
}

.gmh {
    position: absolute;
    width: 852px;
    height: 24px;
    left: 240px;
    top: 420px;
    background: #36AE7C;
    border-radius: 15px 15px 0px 0px;
    animation: 0.75s ease-out slideInFromTop;
}

.gdr {
    position: absolute;
    width: 119.65px;
    height: 24px;
    left: 1055px;
    top: 449px;
    background: #36AE7C;
    border-radius: 30px 0px 30px 0px;
    transform: rotate(-135deg);
    animation: 0.75s ease-out slideInFromBotRight;
}

.ghr {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 1137px;
    top: 478px;
    background: #36AE7C;
    border-radius: 0px 30px 30px 30px;
    animation: 0.75s ease-out slideInFromTop;
}

#green-btn {
    top: 307px;
    padding-bottom: 0;
}

#green-txt {
    margin: 0;
    top: -9px;
}

@media screen and (max-width: 620px) {
    .glv {
        height: 350px;
        width: 12px;
        left: 23px;
        top: 285px;
    }

    .gmh {
        width: 326px;
        height: 12px;
        left: 23px;
        top: 285px;
    }

    .gdr{
        width: 49.96px;
        height: 12px;
        left: 328px;
        top: 296px;
        border-radius: 0px 0px 30px 30px;
    }

    .ghr {
        width: 193px;
        height: 12px;
        left: 176px;
        top: 367px;
        border-radius: 30px 0px 30px 0px;
    }

    .gvr {
        position: absolute;
        height: 69px;
        width: 12px;
        left: 358px;
        top: 310px;
        background: #36AE7C;
        border-radius: 0px 30px 15px 0px;
        animation: 0.75s ease-out slideInFromRight;
    }

    .gvb {
        position: absolute;
        height: 186px;
        width: 12px;
        left: 175px;
        top: 367px;
        background: #36AE7C;
        border-radius: 30px 0px 30px 30px;
        animation: 0.75s ease-out slideInFromLeft;
    }

    #green-btn {
        top: 338.5px;
    }
}