@keyframes slideInFromLeft {
    from {
        margin-left: -10%;
        opacity: 30%;
    }

    to {
        margin-left: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromTop {
    from {
        margin-top: -10%;
        opacity: 30%;
    }

    to {
        margin-top: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromRight {
    from {
        margin-top: 10%;
        opacity: 30%;
    }

    to {
        margin-top: 0%;
        opacity: 100%;
    }
}

.rlv {
    position: absolute;
    height: 310px;
    width: 24px;
    left: 340px;
    top: 372px;
    background: #EB5353;
    border-radius: 30px 0px 30px 30px;
    animation: 0.75s ease-out slideInFromLeft;
}

.rmh {
    position: absolute;
    width: 572px;
    height: 24px;
    left: 340px;
    top: 372px;
    background: #EB5353;
    border-radius: 30px 0px;
    animation: 0.75s ease-out slideInFromTop;
}

.rrv {
    position: absolute;
    height: 230px;
    width: 24px;
    left: 888px;
    top: 166px;
    background: #EB5353;
    border-radius: 30px 30px 30px 0px;
    animation: 0.75s ease-out slideInFromRight;
}

.open-btn {
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    background: #2C2C2C;
    border: 2px solid #B3B3B3;
    border-radius: 50%;
    transition: transform .25s, visibility .25s ease-in;
}

.open-btn:hover {
    transform: scale(1.15);
}

.section-txt {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.04em;
    color: #2C2C2C;
    position: relative;
    top: -40px;
    left: 20px;
}

@media screen and (max-width: 620px) {
    .rlv {
        height: 276px;
        width: 12px;
        left: 48px;
        top: 261px;
    }

    .rmh {
        width: 276px;
        height: 12px;
        left: 48px;
        top: 261px;
    }

    .rrv {
        height: 114px;
        width: 12px;
        left: 312px;
        top: 159px;
    }

    .red-btn {
        top: 1px;
        height: 10px;
        width: 10px;
        border: 1px solid #B3B3B3;
        padding: 0;
    }

    .red-txt {
        font-size: 15px;
        top: -20px;
        left: 15px;
    }
}