@keyframes slideInFromLeft {
    from {
        margin-left: -10%;
    }

    to {
        margin-left: 0%;
    }
}

@keyframes slideInFromTop {
    from {
        margin-top: -10%;
    }

    to {
        margin-top: 0%;
    }
}

@keyframes slideInFromRight {
    from {
        margin-top: 10%;
    }

    to {
        margin-top: 0%;
    }
}

.rlv {
    position: absolute;
    height: 360px;
    width: 24px;
    left: 340px;
    top: 372px;
    background: #EB5353;
    border-radius: 30px 0px 30px 30px;
    animation: 0.75s ease-out slideInFromLeft;
}

.rmh {
    position: absolute;
    width: 572px;
    height: 24px;
    left: 340px;
    top: 372px;
    background: #EB5353;
    border-radius: 30px 0px;
    animation: 0.75s ease-out slideInFromTop;
}

.rrv {
    position: absolute;
    height: 230px;
    width: 24px;
    left: 888px;
    top: 166px;
    background: #EB5353;
    border-radius: 30px 30px 30px 0px;
    animation: 0.75s ease-out slideInFromRight;
}

.red-btn {
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    background: #2C2C2C;
    border: 2px solid #B3B3B3;
    border-radius: 50%;
    transition: transform .25s, visibility .25s ease-in;
}

.red-btn:hover {
    transform: scale(1.15);
}

.red-txt {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.04em;
    color: #2C2C2C;
    position: relative;
    top: -40px;
    left: 20px;
}