@keyframes fadeIn {
    from {
        margin-left: -10%;
        opacity: 30%;
    }

    to {
        margin-left: calc(0% + 32px);
        opacity: 100%;
    }
}

@keyframes fadeInMobile {
    from {
        margin-left: -10%;
        opacity: 30%;
    }

    to {
        margin-left: calc(0% + 20px);
        opacity: 100%;
    }
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    margin-left: 32px;
    animation: 0.75s ease-out fadeIn;
}

.name {
    display: flex;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: -0.04em;
    color: #2C2C2C;
    width: fit-content;
    transition: transform .25s, visibility .25s ease-in,
                text-shadow .25s;
    z-index: 10;
}

.name:hover {
    transform: scale(1.05);
    text-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.pfp {
    width: 92px;
    height: 92px;
    border: 2.5px solid #2C2C2C;
    border-radius: 30px;
    margin-right: 20px;
    transition: transform .25s, visibility .25s ease-in, 
                box-shadow .25s;
}

.pfp:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.header-bottom {
    display: flex;
}

.transit-txt {
    display: flex;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    letter-spacing: -0.04em;
    color: #2C2C2C;
}

@media screen and (max-width: 620px) {
    .header {
        margin-left: 20px;
        padding-top: 20px;
        animation: 0.75s ease-out fadeInMobile;
    }

    .name {
        font-size: 35px;
        transition: transform .25s, visibility .25s ease-in;
    }

    .name:hover {
        transform: none;
        text-shadow: none;
    }
    
    .name:active {
        transform: scale(1.05);
    }

    .pfp {
        width: 45px;
        height: 45px;
        border: 2px solid #2C2C2C;
        border-radius: 15px;
        margin-right: 10px;
        transition: transform .25s, visibility .25s ease-in;
    }

    .pfp:hover {
        transform: none;
        box-shadow: none;
    }

    .pfp:active {
        transform: scale(1.1);
    }

    .transit-txt {
        font-size: 21px;
    }
}