@tailwind base;
@tailwind components;
@tailwind utilities;

/* GRID BACKGROUND */

.main-background {
    background: #B3B3B3;
    background-image:
        linear-gradient(#00000010 2px, transparent 2px),
        linear-gradient(90deg, #00000010 2px, transparent 2px);
    background-size: 0.53em 0.53em;
}

/* REMOVE STANDARD STYLES */

body {
    overflow: hidden;
}

button {
    background: none;
    padding: 0;
    margin: 0;
}

/* FADING ANIMATIONS */

@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fadeLeftIn {
    from {
        margin-left: -20%;
        opacity: 30%;
    }

    to {
        margin-left: 0;
        opacity: 100%;
    }
}

@keyframes fadeLeftInMobile {
    from {
        margin-left: -10%;
        opacity: 30%;
    }

    to {
        margin-left: 0;
        opacity: 100%;
    }
}

/* SLIDING ANIMATIONS */

@keyframes slideInFromTop {
    from {
        margin-top: -10%;
        opacity: 30%;
    }

    to {
        margin-top: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromBot {
    from {
        margin-top: 10%;
        opacity: 30%;
    }

    to {
        margin-top: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromLeft {
    from {
        margin-left: -10%;
        opacity: 30%;
    }

    to {
        margin-left: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromRight {
    from {
        margin-left: 10%;
        opacity: 30%;
    }

    to {
        margin-left: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromTopRight {
    from {
        margin-top: -10%;
        margin-left: 10%;
        opacity: 30%;
    }

    to {
        margin-top: 0%;
        margin-left: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromTopLeft {
    from {
        margin-top: -10%;
        margin-left: -10%;
        opacity: 30%;
    }

    to {
        margin-top: 0%;
        margin-left: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromBotRight {
    from {
        margin-top: 10%;
        margin-left: 10%;
        opacity: 30%;
    }

    to {
        margin-top: 0%;
        margin-left: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromBotLeft {
    from {
        margin-top: 10%;
        margin-left: -10%;
        opacity: 30%;
    }

    to {
        margin-top: 0%;
        margin-left: 0%;
        opacity: 100%;
    }
}

/* HOVERS & TRANSITIONS */

.header {
    animation: 1s ease-out fadeLeftIn;
}

.name {
    transition: transform .25s, visibility .25s ease-in, text-shadow .2s;
}

.name:hover {
    transform: scale(1.05);
    text-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.pfp {
    transition: transform .25s, visibility .25s ease-in, box-shadow .25s;
}

.pfp:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.close {
    border: 3px solid #2C2C2C;
    transition: transform .25s;
}

.close:hover {
    transform: scale(1.1);
}

.data {
    animation: 1s ease-out fadeIn;
}

.sil {
    animation: 1s ease-out slideInFromLeft;
}

.sir {
    animation: 1s ease-out slideInFromRight;
}

.sit {
    animation: 1s ease-out slideInFromTop;
}

.sib {
    animation: 1s ease-out slideInFromBot;
}

.sitr {
    animation: 1s ease-out slideInFromTopRight;
}

.sitl {
    animation: 1s ease-out slideInFromTopLeft;
}

.sibr {
    animation: 1s ease-out slideInFromBotRight;
}

.sibl {
    animation: 1s ease-out slideInFromBotLeft;
}

/* REACT TRANSITION GROUP */

.transition-enter {
    transform: translateY(100%);
}

.transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.transition-exit {
    opacity: 1;
    transform: translateY(0);
}

.transition-exit-active {
    transform: translateY(100%);
    transition: opacity 300ms, transform 300ms;
}

/* OPEN BUTTONS */

.open-btn {
    transition: transform .25s, visibility 1s ease-in;
}

.open-btn:hover {
    transform: scale(1.15);
}

#selection-contact {
    rotate: -45deg;
}

/* SUBPAGE TEXT */

.subptext {
    -webkit-text-stroke: 2px #2C2C2C;
}